/* Navbar styling */
nav {
  display: flex;
  flex-direction: column; 
  height: calc(100vh - 60px); 
  background-color: #f5f5f5; 
  position: fixed; 
  top: 60px;
  left: 0;
  width: 250px; 
  z-index: 1000;
  overflow-y: auto;
  box-sizing: border-box;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1; 
  display: flex; 
  flex-direction: column; 
}


li {
  padding: 8px;
  margin: 0;
  //border-bottom: 1px solid #ddd;
  background-color: white; 
  display: flex; 
  align-items: center; 
}

/* Remove border for the last list item */
li:last-child {
  border-bottom: none;
}

a {
  text-decoration: none;
  color: inherit; 
  display: block;
  padding: 8px 16px;
  box-sizing: border-box; 
}
