.site-detail-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px 16px 16px 16px;
}

.header-row {
  display: flex;
  justify-content: flex-start;
  h2 {
    margin: 0 0 0px;
  }
}

.home-header {
  font-size: 1rem;
  font-weight: 700;
  color: #4183c4;
  
}

.site-info-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  flex-direction: row;
}

.site-info-left {
  flex: 1;
  h3, p {
    margin: 0;
  }
}

.site-number {
  color: #717171;
  font-size: 0.875rem;
  font-family: "Roboto";
  font-weight: 700;
}

.site-details {
  font-size: 0.875rem;
  color: #666;
}

.site-info-right {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex: 1;
  max-width: 300px;
  .mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before {
    line-height: 0 !important;
  }

}

.search-field, .date-dropdown {
  width: 100%;
}

.main-content-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap; 
  overflow-x: auto; 
}

.column-3 {
  flex: 1 1 33%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 250px; 
}

.column-1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.column-2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.column-3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.eod-start-date-card {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 0.75rem; 
}

.eod-header {
  color: #414141;
  font-size: 14px;
  font-weight: 500;
}

.transaction-cards-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  .m-b-10 {
    margin-bottom: 8px;
  }
}

.transaction-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  flex-direction: row;
  .card-content {
    flex-direction: column;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.transaction-label {
  font-weight: bold;
  font-size: 0.75rem;
  color: #333;
}

.transaction-value {
  font-size: 0.75rem;
  color: #666;
}

.thumb-icon {
  display: flex;
  align-items: center;
  margin-left: auto; 
}

.thumb-icon mat-icon {
  color: blue;
  font-size: 18px;
}

.price-status-card {
  display: flex;
  flex-direction: column;
  padding: 0 0 8px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  .mat-mdc-table mat-header-row.mat-mdc-header-row {
    background-color: #f3f3f3;
  }
  .mat-mdc-card-content {
    padding: 0;
  }
 
}

.price-status-card mat-card-header {
  padding: 8px;
  border: none; 
}

.price-status-card mat-card-title {
  color: #414141;
  font-size: 14px;
  font-weight: 500;
}

.price-status-card mat-table {
  width: 100%;
}

.price-status-card mat-header-cell,
.price-status-card mat-cell {
  padding: 8px;
}

.price-status-card mat-header-cell {
  color: #717171;
  font-size: 12px;
  font-weight: 700;
}

.price-status-card mat-cell {
  text-align: right;
  color: #666;
}


//exisitng card css
.existing-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  flex: 1 1 50%;
  .mat-mdc-card-header {
    padding: 4px 10px 4px;
    border-bottom: 1px solid #ddd;
}
}

.device-card {
  position: relative; 
  flex: 1 1 calc(50% - 16px);
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  padding: 5px; 
  //padding-bottom: 24px; 
  .mat-mdc-card-content {
    padding: 0 3px;
}
}

@media (max-width: 600px) {
  .device-card {
    flex: 1 1 100%; 
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.header-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  color: #414141;
  font-size: 14px;
  font-weight: 500;
}

.header-subtitle {
  display: flex;
  align-items: center;
  color: #666;
  font-size: 0.75rem;
  white-space: nowrap; 
}

.header-subtitle mat-icon {
  margin-right: -6px;
  font-size: 16px;
  margin-top: 5px;
}

.details-layout {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 8px;
}
.details-layout::before {
  content: "";
    width: 0.025rem;
    height: 60%;
    background-color: #ddd;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
}
.details-left {
  flex: 1;
  font-size: 0.875rem;
  color: #333;
  max-height: 4.5em; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.details-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.details-grid {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.details-item {
  display: flex;
  justify-content: space-between;
}

.details-key {
  color: #414141;
  font-size: 11px;
  font-weight: 500;
}

.details-value {
  color: #666;
}

mat-card-actions {
  display: flex;
  justify-content: flex-start;
  padding: 8px 8px 0 8px;
}

.more-options-link {
  color: #5236ab;
  font-size: 10px;
  font-weight: 500;
}

.more-options-link:hover {
  text-decoration: underline;
}

/* Adding the partial bottom border effect */
.device-card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%; 
  margin: 0 15%; 
  box-sizing: border-box;
}
.details-left {
  flex: 1;
  font-size: 0.875rem;
  color: #333;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5; 
  max-height: 4.5em; 
  color: #414141;
  font-size: 11px;
  font-family: "Roboto";
  font-weight: 500;
}



// new container css
.dynamic-cards-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow-x: auto; /* Allow horizontal scrolling if needed */
  flex-wrap: wrap;
}

.dynamic-cards-container mat-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px 16px;
  border-radius: 8px;
  min-width: 185px; 
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
  h3, p{
    margin: 0;
  }
}

.card-title {
  color: #414141;
  font-size: 14px;
  font-weight: 500;
}

.printer-status {
  font-size: 11px;
  font-family: "Roboto";
  font-weight: 500;
  color: #666;
}

.status {
  font-size: 11px;
  font-family: "Roboto";
  font-weight: 500;
}

.status.online {
  color: green;
}

.status.offline {
  color: red;
}

.status.unknown {
  color: orange;
}

.fuel-pump-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; 
}

.fuel-pump-icon mat-icon {
  font-size: 2.5rem; 
  height: 2.5rem;
    width: 2.5rem;
}

.card-light-green {
  background-color: #e0f7e9; 
}

.card-light-red {
  background-color: #fce4e4;
}

.card-light-orange {
  background-color: #fff3e0;
}


// tank status css
.tank-cards-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 16px; 
}

.tank-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 14px;
  border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.tank-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
  gap: 40px;
}

.tank-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.tank-name {
  color: #414141;
  font-size: 11px;
  font-weight: 500;
}

.tank-type {
  color: #717171;
  font-size: 11px;
  font-weight: 400;
}

.tank-status {
  display: flex;
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  margin: 0 auto;
}

/* Container for the tank fill */
.tank-container {
  position: relative;
  width: 130px;
  height: 77px;
  border-radius: 22px;
  border: 1px solid #ddd;
  overflow: hidden;
  background-color: #fff;
}

.tank-fill-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-radius: 22px 22px 0 0;
  box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.5);
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #2C74B3; 
  border-radius: 22px 22px 0 0;
  overflow: hidden;
  
}

.tank-text {
  position: absolute;
  bottom: 50%; 
  left: 50%;
  transform: translate(-50%, 50%); 
  font-size: 11px;
  font-family: "Roboto";
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}


/* Color and wave styles based on fill percentage */
@keyframes small-wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}




.tank-stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.tank-detail {
  text-align: center;
}

.tank-detail span:first-child {
  font-weight: bold;
}

.low-alert .tank-status span {
  color: #00cc44; /* Green */
}

.normal-alert .tank-status span {
  color: #ffcc00; /* Yellow */
}

.high-alert .tank-status span {
 
  color: #ff4d4d; /* Red */
}

/* Container for the tank stats */
.tank-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Styling for individual tank-detail containers */
.tank-detail {
  flex: 1;
  text-align: center;
  position: relative;
}

/* Styling for header */
.tank-detail span:first-child {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  position: relative;
}

/* Styling for value with border */
.tank-detail span:last-child {
  display: block;
  padding: 10px;
  border: 2px solid #ddd; 
  border-radius: 4px;
  background-color: #f9f9f9;
  position: relative; 
  z-index: 1; 
}

/* Pseudo-element for the dashed line to show continuity */
.tank-detail::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px; 
  border-top: 2px dashed #ddd; 
  transform: translateY(-50%);
  z-index: 0; 
}

/* Ensure the dashed line appears only between the label and value */
.tank-detail span:first-child {
  margin-bottom: 10px;
}
.bottom-content {
  margin-top: auto; /* Align to the left with some padding */
  padding-left: 16px; 
  align-items: end;
}