<div class="expanded-card-container">
    <mat-card class="expanded-card">
      <mat-card-header>
        <mat-card-title>Devices Overview</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="device-inner-cards">
          <mat-card *ngFor="let device of dataSource" class="inner-card">
            <mat-card-header>
              <mat-card-title>{{ device.name }}</mat-card-title>
              <mat-card-subtitle [ngStyle]="{ 'background-color': getStatusColor(device.status) }">
                {{ device.status }}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Last Updated: {{ device.lastUpdated | date:'short' }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  