
table {
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  padding: 5px 10PX;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-content {
  // your styles for dialog content
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}
.create-alert-button {
  background: #fb7a7a;
  color: white !important;
  font-size: 10px;
  height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  &:hover{
    background: #fbbcbc;
    color: #222222 !important;
  }
}
.alarm-list-table {
  .mat-mdc-header-row, .mat-mdc-row {
    height: auto !important;
    font-size: 11px !important;
  }
  
}

.resolve-link {
  color: #02b702;
  text-decoration: underline !important;
  cursor: pointer;
  &:hover {
    color: #81c0ff;
    
  }
}