html, body {
  height: 100%;
  margin: 0;
}

/* Body styling to manage overflow */
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden; 
}

/* Fixed header styling */
app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #81c0ff; 
  color: white;
  z-index: 1000; 
  height: 48px; 
}

/* Container for the sidenav and content */
mat-sidenav-container {
  display: flex;
  flex-direction: column;
  height: 93vh; 
  margin-top: 48px; 
}

/* Content area styling */
mat-sidenav-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto; 
  padding: 0;
  box-sizing: border-box; 
}

/* Footer styling */
app-footer {
  background: #f1f1f1;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ddd;
  z-index: 1000; 
}

/* Ensure that the sidenav and content areas are correctly sized and positioned */
mat-sidenav {
  width: 250px; 
  z-index: 1000;
  box-sizing: content-box;
}

@media (max-width: 600px) {
  mat-sidenav {
    width: 100%; 
  }
}

