<app-header (sidenavToggle)="toggleSidenav()"></app-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="isMobileView ? 'over' : 'side'"
    [(opened)]="isNavbarOpen"
    (openedChange)="onSidenavToggle($event)"
    class="app-sidenav"
  >
  <app-navbar 
  [isNavbarOpen]="isNavbarOpen" 
  [isMobileView]="isMobileView" 
  (itemClicked)="closeSidenavOnMobile()">
</app-navbar>
  </mat-sidenav>

  <mat-sidenav-content class="app-sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
