/* src/app/app.component.scss */

/* Ensure the whole viewport is used */
html, body {
  height: 100%;
  margin: 0;
}

/* Body styling to manage overflow */
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden; 
}

/* Fixed header styling */
app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #81c0ff; 
  color: white;
  z-index: 1000; 
  height: 60px; 
}

/* Main container to fit below the header and above the footer */
mat-sidenav-container {
  display: flex;
  flex-direction: column;
  margin-top: 60px; /* Adjust according to header height */
  margin-bottom: 0; /* Adjust according to footer height */
  height: calc(100vh - 68px); /* Adjust according to header and footer height */
  overflow: hidden; /* Prevent overflow */
}

/* Content area styling */
mat-sidenav-content {
  flex: 1;
  overflow: auto; 
  padding: 16px; /* Adjust padding as needed */
}

/* Footer styling */
app-footer {
  background: #f1f1f1;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed; /* Fixed position to ensure it's always at the bottom */
  bottom: 0;
  left: 0;
  border-top: 1px solid #ddd;
  z-index: 1000; /* Ensure it's on top of other content */
}

/* Ensure that the sidenav and content areas are correctly sized and positioned */
mat-sidenav {
  width: 250px; /* Adjust width as needed */
  z-index: 1000; /* Ensure it stays above other content */
}

@media (max-width: 600px) {
  mat-sidenav {
    width: 100%; /* Make sidenav full width on small screens */
  }
}
