 body, html {
    //height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .site-info-right {
    .mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before {
      line-height: 0 !important;
      display: none;
    }
  
  }

/* Custom scrollbar styling for the entire application */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #81c0ff;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4a90e2;
}

/* Styling for Firefox */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #81c0ff #f1f1f1; 
}

/* Styling for IE and Edge */
.scrollbar {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
